{% extends "basenoticia.html" %}

{%load static%}

{% block titulo %}
Caos News: Noticia de la Silueta
{% endblock titulo %}
    
{% block contenido %}
    <h1>El paso de zebra mas largo del mundo</h1>
    <div id="pagina">
        <div id="elementos">
          <img src="{% static 'img/noticias/gente.jpg' %}" alt="noticia 3">
        </div>
        <div id="elementos">
            <h3>No sabemos donde se encuentra...</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi laboriosam pariatur saepe. Reiciendis vitae modi a corporis. Molestiae porro eaque id laborum in? Doloremque vero unde dolor quos asperiores inventore?
            Autem blanditiis provident dicta, aliquam laborum odit illo mollitia dolorum excepturi unde praesentium, ipsa odio sed in totam incidunt dolore explicabo reprehenderit, expedita nisi? Aut corrupti ut saepe voluptatum culpa.
        </div>
    </div>
{% endblock contenido %}
